# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: destvi_utils

on:
  push:
    branches: [main, "[0-9]+.[0-9]+.x"]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.11, 3.12, 3.13]

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python }}
          cache: "pip"
          cache-dependency-path: "**/pyproject.toml"

      - name: Install dependencies
        run: |
          pip install pytest-cov
          pip install .[dev]
      - name: Lint with flake8
        run: |
          flake8
      - name: Format with black
        run: |
          black --check .
      - name: Test with pytest
        run: |
          pytest --cov-report=xml --cov=destvi_utils
      - name: After success
        run: |
          bash <(curl -s https://codecov.io/bash)
          pip list
